* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #E3F2FD;
    --container-bg: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.3);
    --overlay-bg: rgba(0, 0, 0, 0.6);
    --border-color: #fff;
    --btn-bg: rgba(0, 0, 0, 0.5);
    --btn-hover-bg: rgba(255, 255, 255, 0.5);
    --btn-color: #fff;
    --btn-hover-color: #000;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--container-bg);
    width: 80vh;
    height: 80vh;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.2rem 0 var(--box-shadow-color);
    overflow: hidden;
}


.slider-container {
    position: relative;
    width: 60vh;   
    height: 80vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}


.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-img {
    width: 60%;
    height: 20%;
    object-fit: contain;  
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#gallery-container {
    display: flex;
    width: 60%;
    gap: 0.5rem;
    /* background-color: #fff; */
}

.gallery-img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

/* .gallery-img:hover {
    border-color: black;
} */

.active-img {
    border: 0.188rem solid red; 
    box-shadow: 0 0 0.313rem rgba(255, 0, 0, 0.7);
}

#gallery-prev,#gallery-next{
    background: var(--btn-bg);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: none;
    color: var(--btn-color);
    font-size: 1.5rem;
    width: 1.8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery-prev{
    margin-right: 0.688rem;
}

.lightbox-prev,
.lightbox-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--btn-bg);
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: none;
    color: var(--btn-color);
    font-size: 1.5rem;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox-prev {
     left: 0rem;
}
.lightbox-next { 
    right: 0rem;
 }

.lightbox-prev:hover, .lightbox-next:hover {
    background: var(--btn-hover-bg);
    color: var(--btn-hover-color);
}
